<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap.css.map">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.css.map">
		<link rel="stylesheet" href="../static/css/icon.css" >
		
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
        <title>Rainbowtique | ph</title>
	</head>
	<body>
		<div class="container">
			<div class="banner">
				<div class="banner-header">
					<div class="header-left">
						<div>
						<span class="header-brand">rainbowtique</span>
						</div>
						<ul class="nav">
							<li class="nav-item"><a href="">Home</a></li>
							<li class="nav-item dropdown">
								<a href="">Clothes</a>
								<div class="menu">
									<div class="sub-menu col-md-2">
										<span class="sub-menu-title">Tops</span>
										<ul class="sub-menu-list">
											<li><a href="">Crop Tops</a></li>
											<li><a href="">Long Sleeves</a></li>
											<li><a href="">Short Sleeves</a></li>
											<li><a href="">Sweaters</a></li>
											<li><a href="">Sleeveless</a></li>
											
										</ul>
									</div>
									<div class="sub-menu col-md-2">
										<span class="sub-menu-title">Bottoms</span>
										<ul class="sub-menu-list">
											<li><a href="">Skirts</a></li>
											<li><a href="">Shorts</a></li>
											<li><a href="">Pants & Leggings</a></li>
											<li><a href="">Jeans</a></li>
											<li><a href="">Work Bottoms</a></li>
										</ul>
									</div>
									<div class="sub-menu col-md-2">
										<span class="sub-menu-title">Outerwear</span>
										<ul class="sub-menu-list">
											<li><a href="">Cardigans</a></li>
											<li><a href="">Coats</a></li>
											<li><a href="">Jackets</a></li>
										</ul>
									</div>
								</div>
							</li>
							<li class="nav-item"><a href="">Shoes</a></li>
							<li class="nav-item"><a href="">Bags</a></li>
							<li class="nav-item"><a href="">Accessories</a></li>
							<li class="nav-item"><a href="">Contact</a></li>
						</ul>
					</div>
					<div class="align-right header-right">
						<i class="material-icons cart-icon">local_mall</i>
						<button type="button" id="loginBtn" class="btn btn-transparent">Log in</button>
						<button type="button" id="signupBtn" class="btn btn-white">Sign up</button>
					</div>
				</div>
				<div class="banner-body">
					<div class="banner-logo-container">
						<span class="brand-1">rainbow</span>
						<span class="brand-2">tique.ph</span>
						<img class="banner-logo" src="../static/images/logo-white.png">
					</div>
					<button class="btn shop-now">Shop Now</button>
					<!-- <span class="motto">Be a flamingo in a flock of pigeons.</span> -->
				</div>
			</div>
		</div>
		
		<div class="main">
			<div class="item-container col-md-4 col-sm-6 col-xs-12">
				<img src="../static/images/product1.png">
			</div>
			<div class="item-container col-md-4 col-sm-6 col-xs-12">
				<img src="../static/images/product2.png">
			</div>
			<div class="item-container col-md-4 col-sm-6 col-xs-12"></div>
			<div class="item-container col-md-4 col-sm-6 col-xs-12"></div>
			<div class="item-container col-md-4 col-sm-6 col-xs-12"></div>
			<div class="item-container col-md-4 col-sm-6 col-xs-12"></div>
		</div>
		<div class="footer">
		</div>

		<script src="../static/js/jquery-1.11.0.min.js"></script>
        <script src="../static/js/animations.js"></script>
        <script src="../static/js/jquery.scrollTo.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/functions.js"></script>
        <script src="../static/js/floatlabels.min.js"></script>
        <script src="../static/js/easing.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
	</body>
</html>